bin/Debug/net8.0/SMTP.dll
bin/Debug/net8.0/SMTP.exe
bin/Debug/net8.0/SMTP.pdb
obj/Debug/net8.0/apphost.exe
obj/Debug/net8.0/SMTP.AssemblyInfo.cs
obj/Debug/net8.0/SMTP.AssemblyInfoInputs.cache
obj/Debug/net8.0/SMTP.dll
obj/Debug/net8.0/SMTP.pdb
obj/Debug/net8.0/SMTP.sourcelink.json
obj/Debug/net8.0/ref/SMTP.dll
obj/Debug/net8.0/refint/SMTP.dll
